body{
    color:rgb(122, 122, 122);
    background:rgb(51, 51, 51);
    margin: 0px;
}
    
header{
    border-bottom: solid 3px whitesmoke;
    padding: 20px;
    font-size: 32px;
    color: purple;
}

section{
    background: purple;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}